-i https://pypi.douban.com/simple/
astroid==2.5.8
autopep8==1.4.3
cffi==1.14.5
falcon-jsonify==1.2
falcon-multipart==0.2.0
falcon==1.4.1
gevent==1.4.0
greenlet==1.1.0 ; platform_python_implementation == 'CPython'
gunicorn==19.9.0
huey==1.11.0
isort==4.3.21
lazy-object-proxy==1.6.0
mccabe==0.6.1
numpy==1.16.2
peewee==3.9.3
pep8==1.7.1
pillow==8.2.0
psycopg2cffi==2.8.1
pycodestyle==2.7.0
pycparser==2.20
pylint==2.3.1
python-mimeparse==1.6.0
redis==3.2.1
six==1.16.0
torch==1.0.1.post2
torchvision==0.2.2.post3
typed-ast==1.4.3 ; implementation_name == 'cpython' and python_version < '3.8'
typing-extensions==3.10.0.0 ; python_version < '3.8'
uuid==1.30
wrapt==1.12.1
